In [2]:
import pandas as pd

In [7]:
df = pd.read_excel('dados\Instar.xlsx')
df.tail()

,Período,GVI - ZONA CARIACICA + VIANA,GVI - ZONA GUARAPARI,GVI - ZONA SERRA,GVI - ZONA VILA VELHA,GVI - ZONA VITORIA
153,GVI - AGO/2024 A OUT/2024,23601.32,6824.61,24436.26,29213.44,25822.95
154,GVI - SET/2024 A NOV/2024,24388.81,6876.91,24550.00,27971.09,25494.38
155,GVI - OUT/2024 A DEZ/2024,24310.54,7387.42,25220.37,30481.84,25863.14
156,GVI - NOV/2024 A JAN/2025,26353.97,6989.66,26330.26,29132.55,25835.32
157,GVI - DEZ/2024 A FEV/2025,24914.25,7623.59,25759.44,30024.64,27184.76